<div class="flex items-center mb-12 flex-col lg:mt-5">
  <div
    class="flex justify-center sm:flex-row flex-wrap gap-6 max-w-7xl lg:px-9 lg:gap-x-28 xl:px-4 xl:gap-x-8 my-5 md:gap-x-20"
  >
    @for(character of characters(); track $index){
    <app-character
      [character]="character"
      [characterComics]="charactersComics()[$index]"
      [characterSeries]="charactersSeries()[$index]"
      [showDescription]="true"
    />
    }
  </div>
  <div
    class="flex flex-wrap gap-2 items-center w-[90%] justify-evenly pt-8 max-w-7xl lg:my-5"
  >
    <a
      [routerLink]="['allCharacters']"
      class="w-52 bg-red-500 text-white rounded-xl text-center py-3"
      >More Characters</a
    >
    <a
      [routerLink]="['allCharacters']"
      class="w-52 bg-red-500 text-white rounded-xl text-center py-3"
      >Comics</a
    >
    <a
      [routerLink]="['allCharacters']"
      class="w-52 bg-red-500 text-white rounded-xl text-center py-3"
      >Series</a
    >
    <a
      [routerLink]="['allCharacters']"
      class="w-52 bg-red-500 text-white rounded-xl text-center py-3"
      >More</a
    >
  </div>
</div>
