@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lora:wght@400;700&display=swap');
/*
font-family: 'Bungee Spice', sans-serif;
font-family: 'Lora', serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}